* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  background-color: rgba(0, 0, 0, 0.849);
  z-index: 99999;
}

.small-nav {
  color: rgb(249, 134, 92);
  border-bottom: 1px rgb(249, 134, 92) solid;
  padding: 6px;
  font-size: small;
  transition-duration: 0.5s;
}

.small-nav:hover {
  transition-duration: 0.5s;
  border-radius: 15px 0 15px 0;
  background-color: rgba(255, 204, 176, 0.057);
  border-top: 1px rgb(249, 134, 92) double;
  padding-bottom: 10px;
}

.small-nav-genre {
  color: rgb(249, 134, 92);
  font-size: small;
}

.login-button {
  text-decoration: none;
  font-size: large;
  color: rgb(249, 134, 92);
  font-family: "Courier New", Courier, monospace;
}

.login-button:hover {
  box-shadow: 2px 2px 15px 2px rgb(249, 134, 92);
}

.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid orange;
  color: orange;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: black;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Courier New", Courier, monospace;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: black;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: orange;
}

.button-57:after {
  background-color: rgb(251, 233, 198);
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: white; */
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

i {
  color: rgb(250, 87, 28);
}

.hamburger-container {
  background-color: rgb(250, 87, 28);
  border-radius: 50px;
  border: 3px rgb(254, 115, 99) double;
}

.hamburger {
  border-radius: 50px;
  opacity: 70%;
}

.d-flex {
  padding: 5px;
  justify-content: center;
}

/* Search */

.box,
.box-active {
  position: relative;
}

.input {
  padding: 10px;
  width: 35px;
  height: 35px;
  background: none;
  border: 2px solid rgb(254, 115, 99);
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: small;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
  font-size: small;
}

.input::placeholder {
  color: black;
}

.input-active {
  outline: none;
  width: 140px;
  height: 40px;
  color: rgba(255, 166, 0, 0.698);
  border-radius: 5px;
  border: 1px solid orange;
  background-color: black;
  padding: 5px;
  transition-duration: 0.7s;
  font-size: small;
}

.input-active::placeholder {
  transition-duration: 0.5s;
  color: rgba(255, 166, 0, 0.698);
  font-size: small;
}

.box i {
  position: absolute;
  top: 45%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: rgb(250, 87, 28);
  transition: 0.2s;
  cursor: pointer;
}

.box-active i {
  position: absolute;
  top: 48%;
  left: 88%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: orange;
  transition: 0.2s;
  cursor: pointer;
}

.x-style {
  opacity: 0;
}

.x-style-active {
  transition-duration: 0.7s;
  position: absolute;
  font-weight: bolder;
  font-size: large;
  bottom: 34px;
  left: 130px;
  padding: 5px;
}
