.hot-title,
.genre-detail-title {
  margin: 60px 95px 0 95px;
  margin-bottom: 20px;
  color: orange;
  font-size: larger;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(0, 0, 0, 0.667);
  border-radius: 20px;
}

.hot-title-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.movie-card {
  border-radius: 15px;
  width: 160px;
  height: 365px;
  margin: 20px 5px 5px 5px;
  box-shadow: 0px 4px 16px 5px rgba(255, 255, 255, 0.4);
  background-image: url("../../../../public/img/play.png");
  background-color: rgba(0, 0, 0, 0.855);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50% 20%;
  overflow: hidden;
  transition-duration: 1s;
}

.movie-card:hover {
  transition-duration: 0.5s;
  transform: translateY(-20px);
}

.movie-card-img:hover {
  opacity: 40%;
}

.movie-card p {
  line-height: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.movie-card-title,
.movie-card-title-year {
  font-size: 15px;
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.857);
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
}

.movie-card-title-year {
  margin-top: 5px;
}

.movie-card-year {
  color: rgba(255, 255, 255, 0.508);
  text-align: left;
  font-size: small;
}

.movie-card-rating {
  font-weight: bold;
  color: yellow;
  text-align: left;
}

.movie-card-detail .detail {
  font-size: large;
  margin-left: 10px;
}

.genre-detail-title {
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(0, 0, 0, 0.086);
  font-size: 45px;
  margin-top: 0;
}
