@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

.footer-distributed {
  background: #212121;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed .footer-company-name {
  color: rgb(249, 134, 92);
  font-size: 14px;
  font-weight: normal;
  margin: 12px;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-center-head {
  font-weight: bolder;
  color: #ffffff;
  margin-left: 20px;
}

.footer-center-center {
  display: inline-block;
  color: #92999f;
  vertical-align: middle;
  margin-left: 20px;
  font-size: small;
  line-height: 5px;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: medium;
}

.footer-distributed .footer-icons {
  display: flex;
  margin-top: 25px;
  justify-content: center;
}

.footer-distributed .footer-icons p {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

.admin-footer-distributed {
  background: #212121;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 5px;
}

.admin-footer {
  color: orangered;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}
