.mv-detail-container {
  margin: 50px;
  padding: 15px;
  background-image: url(../../../../public/img/Bg-card.jpg);
  text-align: left;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.mv-detail-container hr {
  color: orange;
}

.mv-detail-img img {
  border: rgba(255, 68, 0, 0.305) solid 3px;
}

.mv-detail-text {
  width: 100%;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  background-color: hsla(0, 0%, 0%, 0.488);
  border-radius: 10px;
  text-align: center;
}

.mv-detail-text .mv-detail-title {
  font-family: "Courier New", Courier, monospace;
  padding: 5px;
  font-size: x-large;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}

.mv-detail-star {
  color: yellow;
  font-weight: bold;
  font-size: large;
}

.mv-detail-more {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-style: italic;
}

.mv-detail-more span {
  color: rgba(255, 166, 0, 0.756);
  font-weight: bold;
  font-style: normal;
}

.mv-detail-nd {
  margin: 10px 90px 0 90px;
  background-image: url(../../../../public/img/Bg-card.jpg);
  background-size: cover;
  font-size: larger;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  opacity: 95%;
}

.mv-detail-detail {
  margin-top: 10px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(223, 222, 222);
}

.mv-detail-play {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.trailer {
  padding: 10px;
  background-color: rgba(255, 68, 0, 0.608);
  color: white;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.trailer i {
  color: orange;
}

.trailer:hover {
  background-color: rgba(255, 68, 0, 0.837);
}

.mv-detail-play img {
  transition-duration: 0.7s;
}

.mv-detail-play img:hover {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 4px 16px 5px rgba(255, 255, 255, 0.4);
  transform: scale(150%);
  transition-duration: 0.5s;
}

.trailer-container {
  margin: 5px;
}

.trailer-title {
  margin: 20px;
  font-size: x-large;
  font-weight: bold;
  color: aliceblue;
}

.comment-container {
  border-radius: 5px;
  margin: 65px 95px 50px 95px;
  padding: 5px;
  background-color: rgb(27, 27, 27);
}

.comment-title {
  font-size: larger;
  font-weight: bold;
  color: aliceblue;
  padding-top: 15px;
}

.comment-input-container {
  display: flex;
  justify-content: center;
}

.comment-container textarea {
  outline: none;
  border-radius: 5px;
  background-color: rgb(46, 45, 45);
  color: aliceblue;
  margin-left: 15px;
  padding: 20px;
}

.comment-avatar {
  margin: 5px;
  padding: 5px;
  background-color: rgb(254, 99, 42);
  border-radius: 50%;
}

.comment-button {
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 5px;
  cursor: pointer;
}

.comment-button p {
  background-color: rgba(252, 81, 19, 0.74);
  color: rgba(240, 248, 255, 0.856);
  width: 215px;
  padding: 10px;
  border-radius: 15px 0px 0px 15px;
  transition-duration: 0.5s;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: large;
}

.comment-button p:hover {
  transition-duration: 0.5s;
  transform: translateX(-20px);
}

.comment-button p:active {
  background-color: black;
}

.list-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(46, 45, 45);
  padding: 5px;
  margin: 25px 45px 25px 45px;
  border-radius: 15px;
}

.comment-avatars {
  padding: 10px;
  background-color: rgb(254, 99, 42);
  border-radius: 50%;
}

.comment-text-first {
  display: flex;
  justify-content: space-between;
}

.comment-user {
  font-weight: bold;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}

.comment-text {
  text-align: left;
  padding: 15px;
  width: 600px;
  height: 125px;
  color: rgba(240, 248, 255, 0.814);
}

.like-dislike span {
  padding: 5px;
}

.like i,
.dislike i {
  transition-duration: 0.5s;
  cursor: pointer;
}

.like i:hover,
.dislike i:hover {
  transition-duration: 0.3s;
  transform: rotate(-45deg);
}

.like i:active,
.dislike i:active {
  background-color: rgba(255, 166, 0, 0.198);
  transition-duration: 0.3s;
  transform: scale(120%);
  border-radius: 100%;
}

@media only screen and (max-width: 768px) {
  .mv-detail-container {
    flex-wrap: wrap;
  }

  .trailer-video iframe {
    width: 300px;
    height: 200px;
  }

  .list-comment {
    flex-wrap: wrap;
  }

  .comment-text-first {
    flex-wrap: wrap;
  }

  .comment-text {
    font-size: x-small;
    overflow: auto;
    width: 100%;
  }

  .comment-avatars img {
    width: 50px;
  }

  .comment-user {
    font-size: x-small;
  }
}
